@use 'base';
@use 'functions' as *;
@use 'mixins' as *;

.title {
  @include typography('display-lg', 'bold');
}

.title-1 {
  color: get-color('brand', '200');
}

.title-2 {
  color: get-color('warning', '400');
}

.title-3 {
  color: get-color('error', '300');
}

.title-4 {
  color: get-color('success', '50');
}

.title-5 {
  color: get-color('gray', '100');
}

@debug get-color('warning', '600');
